<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312150853521-4tnj01925nf3gc3ettr3qrpi6i64v63f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312150853521-4tnj01925nf3gc3ettr3qrpi6i64v63f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>312150853521-7diqellsivv5en8h0ag3ult3icdjvncp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtsEVEWyQ-XRjsSIf-vB63dGrmiQaz5E8</string>
	<key>GCM_SENDER_ID</key>
	<string>312150853521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>fluttermessageapp-7820f</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermessageapp-7820f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312150853521:ios:8dd120a43955e5927bbc30</string>
</dict>
</plist>